.application_wrapper {
  background-color: var(--bg-color);
  margin: 0 20%;
  height: var(--screen-vh);
}

/* @media (min-width: 961px) {
  .application_wrapper {
    aspect-ratio: 10 / 16;
  }
} */

@media (max-width: 1080px) and (min-width: 300px) {
  .application_wrapper {
    /* aspect-ratio: 4 / 3; */
  }
}