.inline_button {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius-inline);
  text-decoration: none;
  cursor: pointer;
}

.inline_button:hover {
  border: 2px solid var(--accent-color);
}

.inline_button:disabled {
  border: 2px solid var(--dark-color);
  opacity: 0.5;
}

.bordered_button {
  background-color: var(--light-color);
  color: var(--dark-color);
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius-inline);
}

.bordered_button:hover {
  background-color: var(--accent-color);
  color: var(--light-color);
}

.bordered_button:disabled {
  background-color: var(--dark-color);
  color: var(--accent-color);
  opacity: 0.5;
}
