.container_scenes {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  transition: opacity allow-discrete 1.5s;
  -moz-transition: opacity allow-discrete 1.5s; /* Firefox 4 */
  -webkit-transition: opacity allow-discrete 1.5s; /* Safari 和 Chrome */
  -o-transition: opacity allow-discrete 1.5s; /* Opera */
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

.choice_inactive {
  filter: blur(4px);
  animation-name: disappear;
  animation-duration: var(--animation-disabled, 0.2s);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}