.bannerblock {
  padding: 1rem;
  font-size: 2em;
  text-align: center;
  line-height: normal;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  color: var(--dark-color);
}
  
.accent {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  color: var(--dark-color);
}

.allcaps {
  text-transform: uppercase;
}
