.tab {
    
}

.tablist {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--accent-color);
    gap: 1em;
}

.tabheader {
    display: flex;
    color: var(--accent-color);
}

.tabheader a {
    display: block;
    text-decoration: none;
    padding: 0.5em;
    color: var(--accent-color);
}

.tabheader a.active {
    color: var(--accent-color);
}

.tabheader a:hover {
    color: var(--dark-color);
    background-color: var(--accent-color);
}

