@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background: #E0E0E0;
    overflow: hidden;
}

body.switched {
    transition: color 0.6s, background-color 0.6s;
}

h1,
h2 {
    text-align: center;
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 14pt;
    font-style: italic;
    font-family: sans-serif;
    font-weight: lighter;
    color: #BBB;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
}

/*
  Built-in class:
    # author: Name
*/
.byline {
    font-style: italic;
}

.written-in-ink {
    z-index: 3;
    font-size: 9pt;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    position: fixed;
    display: block;
    width: 100%;
    background: #E0E0E0;
    transition: color 0.6s, background 0.6s;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 14px;
    top: 0;
}

/* 
  Enables <iframe> support work on itch.io when using mobile iOS
*/
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 980px) {
    .outerContainer {
        margin-top: 44px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 4em;
    padding-bottom: 4em;
    height: max-content;
    background: #E0E0E0;
}

.switched .container {
    transition: background-color 0.6s;
}



a {
    font-weight: 700;
    color: #a80f0f;
    font-family: sans-serif;
    transition: color 0.6s;
    text-decoration: none;
}

a:hover {
    color: #E0E0E0;
    transition: color 0.1s;
}

strong {
    color: #0A100D;
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container>* {
    opacity: 1.0;
    transition: opacity 1.0s;
}

.footer {
    position: fixed;
    bottom: 0;
}

.temp {
    color: #e2d5d5;
    background: #222222;
    border: 2px solid #3f1313;
    border-radius: 8px;
    padding: 15px;
}

.text_container {
    font-size: 13pt;
    color: #e2d5d5;
    background: #222222;
    line-height: 1.7em;
    font-weight: lighter;
    border: 2px solid #3f1313;
    border-radius: 8px;
    padding: 15px;
}

.text_container:not(:last-child):not(:hover)
{
    opacity: 0.4;
    transition: 0.5s;
}

.text_container:hover {
    opacity: 1;
    transition: 0.5s;
}

/*
  Class applied to all choices
  (Will always appear inside <p> element by default.)
*/
.choice {
    text-align: center;
    line-height: 1.7em;
}

/* 
  Class applied to first choice
*/
:not(.choice)+.choice {
    padding-top: 1em;
}

/*
  Class applied to choice links
*/
.choice a {
    font-size: 15pt;
}

/* 
  Built-in class:
    The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: #0A100D;
    padding-top: 20px;
    padding-bottom: 20px;
}

#controls {
    z-index: 4;
    font-size: 9pt;
    text-align: center;
    padding-bottom: 6px;
    position: fixed;
    right: 14px;
    top: 4px;
    user-select: none;
    background: #E0E0E0;
    transition: color 0.6s, background 0.6s;
}

#controls [disabled] {
    color: #ccc;
}

#controls>*:not(:last-child):after {
    content: " | ";
}

@media screen and (max-width: 980px) {
    #controls {
        z-index: 2;
        padding-top: 24px;
        top: 0;
        left: 0;
        right: 0;
    }
}

/* 
  Dark Theme (Added in Inky 0.10.0)
    # theme: dark
*/

body.dark {
    background: #0A100D;
    color: #E0E0E0;
}

.dark h2 {
    color: #666;
}

.dark .container {
    background: #0A100D;
}

.dark .written-in-ink {
    background: #0A100D;
}

.dark a {
    color: #a80f0f;
    transition: color 0.6s;
}

.dark a:hover {
    color: #E0E0E0;
}

.dark strong {
    color: #E0E0E0;
}

.dark #controls [disabled] {
    color: #444;
}

.dark .end {
    color: #E0E0E0;
}

.dark #controls {
    background: #0A100D;
}


/* STYLING */
.Tall {
    display: inline-block; 
    transform: scaleY(1.5) translateY(-0.25ex);
    animation: y-shake 0.75s 1;
}

@keyframes y-shake {
    0% { transform: scaleY(1.5) translateY(-0.25ex),skewY(-15deg); }
    5% { transform: skewY(15deg); }
    10% { transform: skewY(-15deg); }
    15% { transform: skewY(15deg); }
    20% { transform: skewY(0deg); }
    100% { transform: skewY(0deg); }
   }

.Rumble
{
    animation: y-shake 0.75s 1;
}