.progress_frame {
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius-inline);
  position: relative;
}

.progress_bar {
  position: absolute;
  height: 100%;
  text-align: left;
  opacity: 0.3;
}

.standard {
  background-color: var(--accent-color);  
}

.accent {
  background-color: var(--accent-color);
}

.progress_content {
  padding: 0.25rem;
}
